//- index.pug
doctype html
html(lang='en-gb')

head
    title #{title}
    link(rel='stylesheet', type='text/css', href='./fancy.css')
    link(rel='stylesheet', type='text/css', href='./fancy-simple.css')
body
    details.fancy-spoiler
        summary.fancy-spoiler-closed-summary
            | Spoiler closed text
        label.fancy-spoiler-opened-label
            | Spoiler opened top part
        p.fancy-spoiler-content
            | This content is hidden by default
        label.fancy-spoiler-content.fancy-spoiler-opened-label
            | Spoiler opened bottom part
    script(defer='defer', src='./fancy.js')
